<!DOCTYPE html>
<html>
  <head>
    <title>VideojsPanorama</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="/assets/video-js.min.css" rel="stylesheet">
    <!-- Common -->
    <link href="/assets/videojs-panorama.min.css" rel="stylesheet">

    <script src="/assets/video.min.js"></script>
    <script src="/assets/three.min.js"></script>
    <!-- video.js 5 -->
    <script src="/assets/videojs-panorama.v5.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
